
body {font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
* {box-sizing: border-box;}

h3 {
    margin-top: 10px;
    font-size: 24px;
    line-height: 36px;
    margin: 40px 0 37px 0;
}

input[type=text1], select, textarea {
    padding: 12px 18px;
    outline: none;
    font-size: 15px;
    /* color: #909090; */
    margin: 0 0 20px 0;
    max-width: 100%;
    width: 100%;
    /* box-sizing: border-box; */
    /* display: block; */
    /* background-color: #fff; */
    font-weight: 500;
    /* background-color: #fff; */
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.03);
}

input[type=email], select, textarea {
    padding: 12px 18px;
    /* outline: none; */
    font-size: 15px;
    /* color: #909090; */
    margin: 0 0 20px 0;
    /* max-width: 100%; */
    width: 100%;
    /* box-sizing: border-box; */
    /* display: block; */
    background-color: #fff;
    font-weight: 500;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.03);
  }

input[type=subject], select, textarea {
    /* width: 92%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px;
    resize: vertical;
  }

  input[type=message], select, textarea {
    padding: 12px 18px;
    /* outline: none; */
    font-size: 15px;
    /* color: #909090; */
    margin: 0 0 20px 0;
    /* max-width: 100%; */
    width: 100%;
    /* box-sizing: border-box; */
    /* display: block; */
    background-color: #fff;
    font-weight: 500;
    border: 1px solid #e0e0e0;
    /* opacity: 1; */
    /* min-height: 53px; */
    /* border-radius: 3px; */
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.03);
  }

input[type=submit] {
    text-transform: uppercase;
    /* font-size: 13px; */
    background-color: transparent;
    border: 2px solid #44b272;
    color: #44b272;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 10px 26px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    /* width: auto; */
}
